body {
    background-color: #5cdb71;
    margin: 0;
    padding: 0;
}

header, nav, main, footer {
    background-color: #4CAF50;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
}

header h1 {
    font-size: calc(1em + 1vw);
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li {
    margin-right: 10px;
    display: inline-block;
    width: 120px;
    text-align: center;
}

nav a {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    border-radius: 5px;
}

main {
    margin-top: 20px;
}

footer p {
    color: white;
}

@media (min-width: 750px) {
    header h1 {
        text-align: left;
    }

    nav {
        width: 30%;
        float: left;
    }

    main {
        width: 70%;
        float: right;
    }
}

@media (max-width: 750px) {
    nav {
        width: 100%;
        text-align: center;
    }

    main {
        width: 100%;
    }
}